.container {
    margin-left: 200px; 
    padding: 20px; 
  }

  .layout-container {
    display: flex;

    .container {
        flex: 1;
        
        .content-wrapper {

            .header {
                margin-bottom: 1rem;
            }

            padding: 0 1rem;
        }
    }
}

.content-wrapper {
  margin-left: 200px; 
  padding: 20px;
  width: 100%;
}