.header {
    background-color: var(--bg-secondary);
    padding: 0.5rem;
    border-bottom: 1px solid var(--border-light);

    &__container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__logo {
        font-family: var(--font-primary);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
        margin: 0;
        text-align: center;
    }
}