// src/components/Header/Header.scss
.header {
    background:  #333;
    padding: 1rem;
    border-bottom: 1px solid #3d5061;
    margin-bottom: 2rem;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__logo {
        margin: 0;
        color: #ffffff;
        font-size: 1.5rem;
    }
}